<div class="container mx-auto px-4 lg:px-24 mt-3">
  <div class="overflow-x-auto">
    <ng-container *ngIf="isAllDataLoading; else dataLoaded">
      <div class="mt-8 w-full flex justify-center items-center">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>
    <ng-template #dataLoaded>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          #input
          class="text-gray-300"
        />
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="symbol">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="mat-header-cell"
          >
            Coin
          </th>
          <td mat-cell *matCellDef="let row">
            <img
              [src]="row.image"
              class="block lg:inline-block w-6 h-6"
              [alt]="row.name"
            />
            <span class="text-xs lg:text-base lg:mx-2">{{
              row.symbol | uppercase
            }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="current_price">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="mat-header-cell"
          >
            Price
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.current_price | currency : currencyName }}%
          </td>
        </ng-container>

        <ng-container matColumnDef="price_change_percentage_24h">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="mat-header-cell"
          >
            24h Change
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.price_change_percentage_24h }} %
          </td>
        </ng-container>

        <ng-container matColumnDef="market_cap">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="mat-header-cell"
          >
            Market Cap
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.market_cap | currency : currencyName }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="goToDetails(row)"
          class="cursor-pointer"
        ></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="pl-4">No currency matching the {{ input.value }}</td>
        </tr>
      </table>
      <mat-paginator
        length="50"
        [pageSizeOptions]="[10, 25, 50, 100]"
        aria-label="Select page of users"
        class="my-4 p-2 text-xs lg:text-base lg:w-full"
      ></mat-paginator>
    </ng-template>
  </div>
</div>
