@use "src/styles" as *;
// table
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

:host ::ng-deep .mat-sort-header-content {
  color: $primary-dark;
}

:host ::ng-deep .mat-paginator-outer-container {
  background-color: rgb(36, 37, 37);
}

th.mat-header-cell {
  background-color: $primary-yellow;
}

:host ::ng-deep tr.mat-row {
  height: 70px;
}
