@use "@angular/material" as mat;
@use "src/styles-variables" as *;

@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@angular/material/theming";

@include mat-core();

$primary: mat-palette($mat-amber);
$accent: mat-palette($mat-amber, A200, A100, A400);
$warn: mat-palette($mat-red);

$custom-theme: mat-dark-theme($primary, $accent, $warn);

@include angular-material-theme($custom-theme);

html,
body {
  height: 100%;
  margin: 0;
  background-color: $primary-dark;
  color: white;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
